*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#f7f6f2;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 60px;
background:white;
border-radius:40px;
margin:20px;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-weight:bold;
}

.circle{
width:18px;
height:18px;
background:#5f7f42;
border-radius:50%;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#555;
font-size:14px;
}

.nav-buttons{
display:flex;
gap:10px;
}

.login{
text-decoration:none;
color:#333;
font-size:14px;
}

.donate{
background:#7da364;
color:white;
padding:8px 16px;
border-radius:20px;
text-decoration:none;
font-size:14px;
}


/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 80px;
}

.hero-left{
max-width:500px;
}

.badge{
background:#e7eadf;
display:inline-block;
padding:6px 14px;
border-radius:20px;
font-size:12px;
margin-bottom:20px;
}

.hero h1{
font-size:52px;
line-height:1.2;
color:#1c1c1c;
margin-bottom:20px;
}

.hero h1 span{
color:#6a8d46;
}

.hero p{
color:#666;
margin-bottom:30px;
}

.hero-buttons{
display:flex;
gap:15px;
}

.apply{
background:#6a8d46;
color:white;
padding:12px 24px;
border-radius:25px;
text-decoration:none;
}

.support{
border:1px solid #bbb;
padding:12px 24px;
border-radius:25px;
text-decoration:none;
color:#333;
}


/* RIGHT CARD */

.hero-right{
display:flex;
justify-content:center;
align-items:center;
}

.logo-card{
width:260px;
height:260px;
background:white;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.logo-card h2{
color:#6a8d46;
letter-spacing:3px;
}

.logo-card p{
font-size:12px;
color:#666;
}